admin_username = "<your-admin-username>"
ssh_public_key_path = "~/.ssh/id_rsa.pub"
subscription_id = "<your-subscription-id>"
tenant_id = "<your-tenant-id>"
client_id = "<your-client-id>"   
client_secret = "<your-client-secret>"
location = "westeurope"
allowed_source_ipv4_add = "<your-ip>/32" 
data_disk_size_gb = "<size-in-gb>"          # Size in GB for the additional managed data disk
vm_size = "Standard_E2ps_v6"                # Example size (spot vm), adjust as needed