apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: homepage-secret
  namespace: homepage
  labels:
    app.kubernetes.io/name: homepage
  annotations:
    kubernetes.io/service-account.name: homepage-service-account
    argocd.argoproj.io/compare-options: IgnoreExtraneous
stringData:
    HOMEPAGE_ALLOWED_HOSTS: "homepage.local.your-domain.com"
    HOMEPAGE_VAR_ARGOCD_URL: "https://argocd.local.your-domain.com"
    HOMEPAGE_VAR_ARGOCD_API_KEY: "<INSERT: ArgoCD API key (generate via argocd account generate-token)>"

