apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: proxmox-csi-plugin
    repo: oci://ghcr.io/sergelogvinov/charts
    version: 0.5.3
    releaseName: proxmox-csi-plugin
    includeCRDs: true
    namespace: csi-proxmox
    valuesFile: values.yaml

# Project: https://github.com/sergelogvinov/proxmox-csi-plugin
# Helm Chart documentation: https://github.com/sergelogvinov/proxmox-csi-plugin/tree/main/charts/proxmox-csi-plugin
# Helm Chart values: https://github.com/sergelogvinov/proxmox-csi-plugin/blob/main/charts/proxmox-csi-plugin/values.yaml
#
# Validation CSI Plugin is working 
# `kubectl get csistoragecapacities -ocustom-columns=CLASS:.storageClassName,AVAIL:.capacity,ZONE:.nodeTopology.matchLabels -A`