apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin-secret
  namespace: observability
  labels:
    app.kubernetes.io/name: kube-prometheus-stack
stringData:
  admin-user: "<INSERT: Grafana admin username>"
  admin-password: "<INSERT: Grafana admin password>"
