apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kyverno

resources:
  - ns.yaml

helmCharts:
  - name: kyverno
    repo: https://kyverno.github.io/kyverno/
    version: 3.6.2 # renovate
    releaseName: kyverno
    namespace: kyverno
    valuesFile: kyverno-values.yaml

# https://github.com/kyverno/kyverno/blob/main/charts/kyverno/README.md