apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - http-route.yaml
  - argocd-ns.yaml

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.2.4 # renovate: github-releases=argoproj/argo-helm
    releaseName: "argocd"
    namespace: argocd
    valuesFile: values.yaml