proxmox = {
  endpoint     = "https://yourproxmoxdnsname:8006" # no trailing slash
  username     = "root@pam"
  password     = "password"
  insecure     = false # set to true for self-signed certificates
  api_token    = "example-api-token"
  cluster_name = "homelab"
}

# Obtain these values by running: ./tofu-images.sh prod
# The file_id comes from images["<label>"].file_ids["<proxmox_node>"]
# The installer_image comes from images["<label>"].installer_image
image = {
  file_id         = "data:iso/talos-<schematic-id>-v1.9.1-nocloud-amd64.img"
  update_file_id  = null # set to the upgrade image file_id when upgrading nodes
  installer_image = null # set to the upgrade installer_image URL when upgrading nodes
}

cluster = {
  name            = "clustername.local"  # Cluster name
  environment     = "prod"               # Used to locate config files under config/prod/
  endpoint        = "10.10.10.100"       # Cluster endpoint (IP or DNS)
  gateway         = "10.10.10.1"         # Gateway IP
  cidr            = 20                   # Subnet prefix length
  proxmox_cluster = "homelab"            # Proxmox cluster name
  talos_version      = "v1.12.8"         # must match the version in images.prod.tfvars
  kubernetes_version = "1.35.4"          # see https://www.talos.dev/latest/introduction/support-matrix/
  bootstrap_node     = "10.10.10.110"    # IP of the control plane node used for bootstrap
}

# Nodes to be provisioned in the Kubernetes cluster.
# Set update = true on a node to trigger a Talos upgrade via the upgrade-node.sh script.
# Control planes are always upgraded before workers.
nodes = {
  "k8-prod-ctrl-00" = {
    machine_type  = "controlplane"
    #update        = true
    ip            = "10.10.10.110"
    cidr          = 20
    gateway       = "10.10.10.1"
    cpu           = 2
    disk_size     = 20
    ram_dedicated = 4096
    host_node     = "pve-01"
    vm_id         = 500
    datastore_id  = "ssd"
  }
  "k8-prod-work-00" = {
    machine_type  = "worker"
    #update        = true
    ip            = "10.10.10.113"
    cidr          = 20
    gateway       = "10.10.10.1"
    cpu           = 2
    disk_size     = 20
    ram_dedicated = 16384
    host_node     = "pve-01"
    vm_id         = 503
    datastore_id  = "nvme"
  }
}

